.page {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.centered {
  justify-content: center;
}

.scroll {
  justify-content: flex-start;
}

.layout_box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full_box {
  margin-top: 10px;
  width: 100%;
}

.half_box {
  width: 49%;
}

.z-stack {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.h-stack {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}