.chips {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chip {
    margin: 5px;
    transform: scale(1);
    animation: swell infinite;
}

@keyframes swell {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}